{name, "mysql"}.
{authors, ["Magnus Ahltorp <ahltorp@nada.kth.se>"]}.
{description, "Erlang MySQL Driver"}.
{homepage, "http://code.google.com/p/erlang-mysql-driver"}.
{rebar_compatible, true}.
{license, "BSD", "COPYING.txt"}.
{url, {git, "https://github.com/dizzyd/erlang-mysql-driver.git", {branch, "master"}}}.
{applications, [mysql]}.
